<md-sidenav-layout>
  <md-sidenav #start (open)="mybutton.focus()" mode="over">
    Start Sidenav.
    <br>
    <button md-button #mybutton (click)="start.close()">Close</button>
  </md-sidenav>
  <header>
    <nav>
      <i class="material-icons" (click)="start.open()">menu</i>
      <a [routerLink]="['']">Home</a>
      <a [routerLink]="['about']">About</a>
    </nav>
  </header>
  <main>
    <!-- Images (and assets) are parsed and loaded from within the public directory -->
    <!--<img src="/img/angular.png">-->
    <!---->
    <router-outlet></router-outlet>
  </main>
  <footer>
    <!--<a [href]="url">Webpack Angular 2 Starter</a>-->
  </footer>

</md-sidenav-layout>
