@import '../style/variables';

// styles applied on :host are applied on the current component, "app" in this case

md-sidenav-layout {
  height: 100%;
  overflow: hidden;
  .md-sidenav-backdrop {
    &.md-sidenav-shown {
      background-color: rgba(0, 0, 0, 0.75);
    }
  }

  md-sidenav {
    width: 50%;
    background-color: $white;
  }
}

#main-wrapper {
  height: 100%;
  overflow: hidden;

  my-header {
    height: 9%;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0 $content-space;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  main {
    height: 91%;
    padding: 0 $content-space;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
    overflow: scroll;
  }
}

footer {
  text-align: center;
  font-size: 0.8em;
}
