@import 'reset.scss';

html {
  font-size: 4vmin;
}

html, body {
  height: 100%;
}

/* utilities */
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}
